<template>
    <h1>Hey</h1>
</template>
<script>
    const api_url = window.location.origin + '/';
    export default{
        data(){
            return {
                parents:[] = [],
                sub_categories: [] = [],
                selected_sub_categories: [] = [],
                fitched_parents:[] = [],
                fitched_children: [] = []
            }
        },
        mounted() {
            console.log('content type mounted');
        },
        methods: {
            getChildren(service_type = null, cats,init = false){
                if(cats && cats.length){
                    if(init){
                        this.$http.post(
                            api_url + 'category/children',
                            {parents:cats},
                            {headers:{
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            }}
                        )
                            .then((res) => {
                                if(res.data && res.data.length){
                                    this.sub_categories = res.data;
                                    this.parents = cats;
                                    this.updateFitchedParents(cats);
                                    this.updateFitchedChildren(res.data);
                                    this.getSelectedChildren(service_type,cats);
                                }
                            }).catch(e => {
                            toastr.error("Error while trying to get sub-categories");
                            console.log(e);
                        });
                    }else{
                        let last_item = cats[cats.length -1];
                        var target_cat = 'category/children/' + last_item;
                        let founded_fetch = this.getParent(cats);
                        let insertCategories = (categories)=>{
                            this.parents = cats;
                            categories.forEach(new_sub_cat => {
                                this.sub_categories = this.sub_categories.filter(sub_cat => {
                                    return sub_cat.id !== new_sub_cat.id;
                                });
                                this.sub_categories.push(new_sub_cat);
                            });
                            this.updateChildren();
                        };
                        if(!founded_fetch.length){
                            this.$http.get(api_url + target_cat).then((res) => {
                                insertCategories(res.data);
                                this.updateFitchedChildren(res.data);
                            }).catch(e => {
                                toastr.error("Error while trying to get sub-categories");
                                console.log(e);
                            });
                        }else{
                            let children = this.getFitchedChildren(founded_fetch);
                            console.log('children: ', children);
                            insertCategories(children);
                        }
                    }
                }else{
                    this.parents = [];
                    this.updateChildren();
                }
            },
            getSelectedChildren(service_type, parents){
                this.$http.post(
                    api_url + 'service-types/child-cats',
                    {service_type:service_type,parents:parents},
                    {headers:{
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }}
                )
                    .then((res) => {
                        if(res.data.length){
                            for(let category of res.data){
                               this.selected_sub_categories.push(category.id);
                            }
                        }
                    }).catch(e => {
                    toastr.error("Error while trying to get sub-categories");
                    console.log(e);
                });
            },
            checkSelected(cat){
                let selected = false;
                for(let category of this.selected_sub_categories){
                    if(cat.id === category){
                        selected = true;
                    }
                }
                setTimeout(() => {
                    $('#sub_categories').select2();
                },100);
                return selected;
            },
            updateChildren(){
                let children = [];
                for(let child of this.sub_categories){
                    for(let parent of this.parents){
                        if(child.parent_id.toString() === parent.toString()){
                            children.push(child);
                        }
                    }
                }
                console.log('sub_categories: ', children);
                this.sub_categories = children;
            },
            updateFitchedParents(cats){
                if(cats.length){
                    cats.forEach(cat => {
                        let founded = false;
                        this.fitched_parents.forEach(item => {
                            if(cat.toString() === item.toString()){
                                founded = true;
                            }
                        });
                        if(!founded){
                            this.fitched_parents.push(cat);
                        }
                    });
                }
            },
            getParent(ids){
                let parents_ids = [];
                let some_not_found = false;
                for(let id of ids){
                    let founded = false;
                    for(let parent_id of this.fitched_parents){
                        if(parent_id.toString() === id.toString()){
                            founded = true;
                            parents_ids.push(parent_id);
                        }
                    }
                    if(!founded){
                        some_not_found = true;
                        break;
                    }
                }
                if(some_not_found){
                    return [];
                }else{
                    return parents_ids;
                }
            },
            getFitchedChildren(parents){
                let children = [];
                for(let parent of parents){
                    for(let child of this.fitched_children){
                        if(parent.toString() === child.parent_id.toString()){
                            children.push(child);
                        }
                    }
                }
                return children;
            },
            updateFitchedChildren(cats){
                if(cats.length){
                    cats.forEach(cat => {
                        let founded = false;
                        this.fitched_children.forEach(item => {
                            if(cat.id.toString() === item.id.toString()){
                                founded = true;
                            }
                        });
                        if(!founded){
                            this.fitched_children.push(cat);
                        }
                    });
                }
            }
        }
    };
</script>