<template>
    <div class="page-content edit-add container-fluid" v-if="!loading">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-bordered">
                    <form role="role" class="form-edit-add">
                        <div class="panel-body row">
                            <div class="form-group col-md-12">
                                <label for="type">Type title</label>
                                <input type="text" name="type" id="type" v-model="content_type" class="form-control">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="categories_id">Categories</label>
                                <select class="form-control select2"
                                        name="categories[]"
                                        id="categories_id"
                                        v-model="s_parents"
                                        multiple>
                                    <option v-for="category in parents" v-bind:value="category.id">{{category.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="subcats_ids">Sub-categories</label>
                                <select class="form-control select2"
                                        name="subCategories[]"
                                        id="subcats_ids"
                                        v-model="s_children"
                                        multiple>
                                    <option v-for="category in children" v-bind:value="category.id">{{category.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="parent">Parent</label>
                                <select class="form-control"
                                        name="parent"
                                        id="parent"
                                        v-model="s_content_type">
                                    <option value="">none</option>
                                    <option v-for="c_type in content_types" v-bind:value="c_type.id">{{c_type.type}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="strict_mode">Generate permissions</label>
                                <input type="checkbox"
                                       name="generate_permissions"
                                       id="generate_permissions"
                                       class="toggleswitch"
                                       data-on="Yes"
                                       data-off="No"
                                       v-model="generate_permissions">
                            </div>
                            <div class="col-md-12">
                                <a class="btn btn-primary"
                                   data-toggle="collapse"
                                   href="#ctTranslations"
                                   role="button"
                                   aria-expanded="false"
                                   aria-controls="ctTranslations">Translations</a>
                            </div>
                            <div class="collapse col-md-12" id="ctTranslations">
                                <ct-translation v-bind:translations="translations" @onUpdate="updateTypeTranslation($event)"></ct-translation>
                            </div>
                            <div class="col-md-12">
                                <a class="btn btn-primary"
                                   data-toggle="collapse"
                                   href="#settings"
                                   role="button"
                                   aria-expanded="false"
                                   aria-controls="settings">More settings</a>
                            </div>
                            <div class="collapse col-md-12" id="settings">
                                <div class="form-group col-md-12">
                                    <label for="strict_mode">Strict mode</label>
                                    <input type="checkbox"
                                           name="strict_mode"
                                           id="strict_mode"
                                           class="toggleswitch"
                                           data-on="Yes"
                                           data-off="No"
                                           v-model="strict_mode">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="menu">Show in menu</label>
                                    <input type="checkbox"
                                           name="menu"
                                           id="menu"
                                           class="toggleswitch"
                                           data-on="Yes"
                                           data-off="No"
                                           v-model="menu">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="tab">Show in tabs</label>
                                    <input type="checkbox"
                                           name="tab"
                                           id="tab"
                                           class="toggleswitch"
                                           data-on="Yes"
                                           data-off="No"
                                           v-model="tab">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="show_map">Show map</label>
                                    <input type="checkbox"
                                           name="show_map"
                                           id="show_map"
                                           class="toggleswitch"
                                           data-on="Yes"
                                           data-off="No"
                                           v-model="show_map">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="has_updates">Has updates</label>
                                    <input type="checkbox"
                                           name="has_updates"
                                           id="has_updates"
                                           class="toggleswitch"
                                           data-on="Yes"
                                           data-off="No"
                                           v-model="has_updates">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="moderated">Moderated</label>
                                    <input type="checkbox"
                                           name="moderated"
                                           id="moderated"
                                           class="toggleswitch"
                                           data-on="Yes"
                                           data-off="No"
                                           v-model="moderated">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="profile_tab">Show in profile</label>
                                    <input type="checkbox"
                                           name="profile_tab"
                                           id="profile_tab"
                                           class="toggleswitch"
                                           data-on="Yes"
                                           data-off="No"
                                           v-model="profile_tab">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="type">Order</label>
                                    <input type="number" name="order" id="order" v-model="order" class="form-control">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="profile_limit">Profile limit</label>
                                    <input type="number" name="profile_limit" id="profile_limit" v-model="profile_limit" class="form-control">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="categories_id">Membership type</label>
                                    <select class="form-control"
                                            name="membership_type"
                                            id="membership_type"
                                            v-model="membership_type_id">
                                        <option value="">none</option>
                                        <option v-for="mType in membership_types" v-bind:value="mType.id">{{mType.title}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="role_id">Role</label>
                                    <select class="form-control"
                                            name="role_id"
                                            id="role_id"
                                            v-model="role_id">
                                        <option value="">none</option>
                                        <option v-for="role in roles" v-bind:value="role.id">{{role.display_name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="icon">Menu/Tab icon</label>
                                    <input type="text" name="icon" id="icon" v-model="icon" class="form-control">
                                </div>
                            </div>
                            <p class="col-md-12 font-size-14 font-weight-bold">Sections & fields: </p>
                            <sections v-bind:sections="this.sections" @onUpdate="updateSections($event)"></sections>
                            <div class="col-md-12 text-center">
                                <a class="btn btn-primary" href="javascript:;" v-on:click="save()">Save</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div v-else-if="loading" class="page-content edit-add container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Loading</h1>
            </div>
        </div>
    </div>
</template>
<script>
    import CtTranslation from "./ct-translation";
    const api_url = window.location.origin + '/';
    import Sections from './sections.vue';
    export default{
        name: 'content-type',
        props: ['typeId'],
        data(){
            return {
                loading: true,
                content_type: null,
                membership_type_id: null,
                role_id: null,
                order: 1,
                menu: false,
                tab: false,
                show_map: false,
                has_updates: false,
                profile_limit: null,
                strict_mode: false,
                generate_permissions: false,
                moderated: false,
                profile_tab: false,
                available_units: [
                    {name: "Year",value:'y'},
                    {name: "Month",value:'m'},
                    {name: "Day",value:'d'},
                ],
                content_types: [] = [],
                membership_types: [] = [],
                roles: [] = [],
                s_content_type: 0,
                parents: [] = [],
                s_parents: [] = [],
                children: [] = [],
                s_children: [] = [],
                sections: [] = [],
                translations:[] = [],
            }
        },
        components: {
            'ct-translation': CtTranslation,
            'sections': Sections
        },
        mounted() {
            this.loadData();
        },
        methods: {
            async loadData(){
                const showErr = (err_type,e) => {
                    let str = "Content Type";
                    if(err_type === 'types'){
                        str = "Content Types";
                    }else if(err_type === "cats"){
                        str = "categories";
                    }else if(err_type === "mTypes"){
                        str = "membership types";
                    }else if(err_type === "roles"){
                        str = "roles";
                    }
                    toastr.error("Error while trying to get the " + str);
                    console.log(e);
                };
                const cats = await this.getCategories().catch((e)=>showErr('cats',e));
                if(cats){
                    this.parents = cats.data;
                }
                const mTypes = await this.getMembershipTypes().catch((e)=>showErr('mTypes',e));
                if(mTypes){
                    this.membership_types = mTypes.data;
                }
                const roles = await this.getRoles().catch((e)=>showErr('roles',e));
                if(roles){
                    this.roles = roles.data;
                }
                const type = parseInt(this.typeId);
                if(type){
                    const cType = await this.getContentType(type).catch((e)=>showErr('type',e));
                    if(cType){
                        this.populateFields(cType.data).catch(console.log);
                    }
                }
                const types = await this.getContentTypes().catch((e)=>showErr('types',e));
                if(types){
                    this.content_types = types.data;
                }
                console.log('loaded all data');
                this.loading = false;
                setTimeout(() => {
                    this.listenForEvents();
                },100)
            },
            async populateFields(content_type){
                this.content_type = content_type.type;
                this.order = content_type.order;
                this.menu = content_type.menu === 1;
                this.tab = content_type.tab === 1;
                this.icon = content_type.icon;
                this.strict_mode = content_type.strict_mode === 1;
                this.profile_limit = content_type.profile_limit;
                this.has_updates =  content_type.has_updates === 1;
                this.show_map = content_type.show_map === 1;
                this.moderated = content_type.moderated === 1;
                this.profile_tab = content_type.profile_tab === 1;
                if(content_type.parent_id){
                    this.s_content_type = content_type.parent_id;
                }
                if(content_type.membership_type_id){
                    this.membership_type_id = content_type.membership_type_id;
                }
                if(content_type.role_id){
                    this.role_id = content_type.role_id;
                }
                if(content_type.categories.length){
                    for(let child of content_type.categories){
                        const parent = this.findParent(child);
                        if(parent){
                            this.s_parents.push(parent.id);
                            const _child = this.findChild(child);
                            this.children.push(_child);
                            this.s_children.push(child.id);
                        }
                    }
                }
                if(content_type.translations.length){
                    this.translations = content_type.translations;
                    console.log('translations:');
                    console.log(this.translations);
                }
                this.sections = content_type.sections;
            },
            save(){
                const id = parseInt(this.typeId);
                const content_type = this.collectFields();
                const options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };
                console.log('to save:', content_type);
                if(id){
                    this.$http.put(
                        api_url + 'content-types/' + id,
                        content_type,
                        options
                    ).then((res) => {
                        if(res.data && res.data.success){
                            toastr.success(res.data.details);
                            setTimeout(() => {
                                let path = window.location.href.replace(/(create)|([0-9]*)(\/edit)/g,'');
                                window.location = path;
                            },200)
                        }
                    }).catch(e => {
                        this.catchError(e);
                    });
                }else{
                    this.$http.post(
                        api_url + 'content-type',
                        content_type,
                        options
                    ).then((res) => {
                        if(res.data && res.data.success){
                            toastr.success(res.data.details);
                            setTimeout(() => {
                                let path = window.location.href.replace(/(create)|([0-9]*)(\/edit)/g,'');
                                window.location = path;
                            },200)
                        }
                    }).catch(e => {
                        this.catchError(e);
                    });
                }
            },
            collectFields(){
                // collect content type properties
                const id = parseInt(this.typeId);
                const obj = {
                    type: this.content_type,
                    menu: this.menu,
                    tab: this.tab,
                    show_map: this.show_map,
                    has_updates: this.has_updates,
                    strict_mode: this.strict_mode,
                    moderated: this.moderated,
                    profile_tab: this.profile_tab,
                    generate_permissions: this.generate_permissions
                };
                // check for optional fields
                if(parseInt(this.order)){
                    obj.order = this.order
                }
                if(this.s_content_type){
                    obj.parent = this.s_content_type
                }
                if(this.icon && this.icon.length){
                    obj.icon = this.icon
                }
                if(parseInt(this.profile_limit)){
                    obj.profile_limit = this.profile_limit
                }

                if(this.sections && this.sections.length){
                    obj.sections = this.sections;
                }

                if(this.s_parents && this.s_parents.length){
                    obj.categories = this.s_parents;
                }
                if(this.s_children && this.s_children.length){
                    obj.sub_categories = this.s_children;
                }
                if(this.membership_type_id){
                    obj.membership_type_id = this.membership_type_id
                }
                if(this.translations){
                    obj.translations = this.translations;
                }
                if(this.role_id){
                    obj.role_id = this.role_id
                }
                if(id){
                    obj.id = id;
                }
                return obj;
            },
            catchError(e){
                console.log(e);
                // If error is validation error, display them
                if(e.body && e.body.errors){
                    let errors = e.body.errors;
                    let fields = Object.keys(errors);
                    for(let field of fields){
                        if(Array.isArray(field)){
                            let field_errors = Object.keys(field);
                            for(let sub_field of field_errors){
                                toastr.error(sub_field + ': ' + field[sub_field]);
                            }
                        }else{
                            toastr.error(field + ': ' + errors[field]);
                        }
                    }
                }else{
                    toastr.error(e);
                }
            },
            getSubCategories(){
                this.children = [];
                for(let parent of this.parents){
                    for(let s_parent of this.s_parents){
                        if(parent.id.toString() === s_parent){
                            for(let child of parent.children){
                                this.children.push(child);
                            }
                        }
                    }
                }
            },
            findParent(child){
                const parent = this.parents.filter(item => {
                    return item.id === child.parent_id;
                });
                if(parent.length){
                    return parent[0];
                }
                return null;
            },
            //this is to load categories names..etc
            findChild(child){
                const cat = this.parents.filter(item => {
                    return item.id === child.id;
                });
                if(cat.length){
                    return cat[0];
                }
                return null;
            },
            listenForEvents(){
                let that = this;
                let categories_el = $('#categories_id');
                let sub_cats_el = $('#subcats_ids');
                categories_el.select2();
                sub_cats_el.select2();
                $('.toggleswitch').bootstrapToggle();
                let menu = $('#menu');
                let tab = $('#tab');
                let strict_mode = $('#strict_mode');
                let generate_permissions = $('#generate_permissions');
                let moderated = $('#moderated');
                let profile_tab = $('#profile_tab');
                let has_updates = $('#has_updates');
                let show_map = $('#show_map');
                menu.change(() => {
                   this.menu = menu.prop('checked');
                });
                tab.change(() => {
                    this.tab = tab.prop('checked');
                });
                strict_mode.change(() => {
                    this.strict_mode = strict_mode.prop('checked');
                });
                generate_permissions.change(() => {
                    this.generate_permissions = generate_permissions.prop('checked');
                });
                moderated.change(() => {
                    this.moderated = moderated.prop('checked');
                });
                profile_tab.change(() => {
                    this.profile_tab = profile_tab.prop('checked');
                });
                has_updates.change(() => {
                    this.has_updates = has_updates.prop('checked');
                });
                show_map.change(() => {
                    this.show_map = show_map.prop('checked');
                });
                categories_el.on('change', function (e) {
                    that.s_parents = categories_el.val();
                    if(!that.s_parents.length){
                        that.s_children = [];
                    }
                    that.getSubCategories();
                });
                sub_cats_el.on('change', function (e) {
                    that.s_children = sub_cats_el.val();
                });
            },
            updateSections(sections){
                this.sections = sections;
            },
            updateTypeTranslation(translations){
                this.translations = translations;
                console.log('new translations:');
                console.log(this.translations);
            },
            // http:
            getCategories(){
                return this.$http.get(
                    api_url + 'category'
                )
            },
            getContentTypes(){
                return this.$http.get(
                    api_url + 'content-type'
                );
            },
            getContentType(id){
                return this.$http.get(
                    api_url + 'content-types/' + id
                );
            },
            getMembershipTypes(){
                return this.$http.get(
                    api_url + 'membership-types',
                );
            },
            getRoles(){
                return this.$http.get(
                    api_url + 'role/true',
                );
            },
        },
    };

</script>