<template>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Field</th>
                        <th scope="col">Locale</th>
                        <th scope="col">Translation</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tr  v-for="(translation, index) in translations" :key="index">
                    <td>{{translation.field}}</td>
                    <td>{{translation.locale}}</td>
                    <td>{{translation.value}}</td>
                    <td>
                        <a href="javascript:;" title="Edit" class="btn btn-sm btn-primary pull-left edit" v-on:click="togglePanel(translation, index)">
                            <i class="voyager-edit"></i> <span class="hidden-xs hidden-sm">Edit</span>
                        </a>
                        <a href="javascript:;" title="Delete" class="btn btn-sm btn-danger pull-left delete" v-on:click="removeTranslation(index)">
                            <i class="voyager-trash"></i> <span class="hidden-xs hidden-sm">Delete</span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-12 text-center">
            <a href="javascript:;" class="btn btn-success btn-add-new" id="add_translation" v-on:click="togglePanel()">
                <i class="voyager-plus"></i> <span>Add Translation</span>
            </a>
        </div>
        <div class="modal fade" id="translationModal" tabindex="-1" role="dialog" aria-labelledby="translationLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add new translation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="translation_field">Field</label>
                                    <select name="field"
                                            v-model="new_translation.field"
                                            id="translation_field"
                                            class="form-control">
                                        <option v-for="field in fields" v-bind:value="field.key">{{field.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="locale">Locale</label>
                                    <select name="locale"
                                            v-model="new_translation.locale"
                                            id="locale"
                                            class="form-control">
                                        <option v-for="locale in available_locales" v-bind:value="locale.key">{{locale.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="locale">Translation</label>
                                    <input type="text"
                                           id="translation"
                                           v-model="new_translation.value"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" v-on:click="editAddTranslation()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        name: 'ct-translation',
        props: ['translations'],
        data(){
            return {
                fields: [] = [
                    {key:"type", name:"Type Title"},
                ],
                available_locales: [] = [
                    {key:"ar", name:"Arabic"},
                ],
                new_translation:{} = {
                    locale: null,
                    field: null,
                    value: null,
                },
                editing_index: null,
            }
        },
        methods: {
            togglePanel(tr, index = null){
                if(tr){
                    this.new_translation = {
                        locale: tr['locale'],
                        value: tr['value'],
                    };
                    if(tr['id']){
                        this.new_translation.id = tr['id'];
                    }
                    if(tr['column_name']){
                        this.new_translation.field = tr['column_name'];
                    }else{
                        this.new_translation.field = tr['field'];
                    }
                }else{
                    this.new_translation = {
                        locale: null,
                        field: null,
                        value: null,
                    };
                }
                if(index !== null){
                    this.editing_index = index;
                }
                $('#translationModal').modal('toggle');
            },
            editAddTranslation(){
                // Clone the new translations
                const trans = JSON.parse(JSON.stringify(this.new_translation));
                // Find out if we are editing existing translation, and update it:
                console.log('translation:');
                console.log(this.translations);
                const by_id = trans['id'] !== undefined;
                this.translations = this.translations.filter(item => {
                    if (by_id) {
                        return item.id !== trans.id;
                    }
                    else {
                        return item.field !== trans.field;
                    }
                });
                // Add/Update the translation:
                if(this.editing_index !== null){
                    Vue.set(this.translations,this.editing_index,trans);
                }else{
                    this.translations.push(trans);
                }
                this.editing_index = null;
                this.togglePanel();
                this.$emit('onUpdate',this.translations);
            },
            removeTranslation(index){
                this.translations = this.translations.filter((trans,t_index) => {
                    return t_index !== index;
                });
                this.$emit('onUpdate',this.translations);
            }
        }
    };
</script>