<template>
    <div class="row" v-if="section">
        <div class="col-md-12 text-center">
            <br>
            <a class="btn btn-primary" data-toggle="collapse"
               v-bind:href="'#section_' + sec_index + '_fields'"
               role="button"
               aria-expanded="false"
               v-bind:aria-controls="'section_' + sec_index + '_fields'">Section fields</a>
        </div>
        <div class="col-md-12">
            <div class="collapse" v-bind:id="'section_' + sec_index + '_fields'">
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Type</th>
                        <th scope="col">Name</th>
                        <th scope="col">Label</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <draggable v-model="section.fields" :element="'tbody'" :options="draggable_options" @end="updateOrder($event)">
                        <tr v-for="(field, index) in section.fields" :key="index" class="field">
                            <td>
                                <div class="handle voyager-handle"></div>
                            </td>
                            <td>
                                {{field.type}}
                            </td>
                            <td>
                                {{field.name}}
                            </td>
                            <td>
                                {{field.label}}
                            </td>
                            <td>
                                <a href="javascript:;" title="Edit" class="btn btn-sm btn-primary pull-left edit" v-on:click="showFieldPanel(index)">
                                    <i class="voyager-edit"></i> <span class="hidden-xs hidden-sm">Edit</span>
                                </a>
                                <a href="javascript:;" title="Delete" class="btn btn-sm btn-danger pull-left delete" v-on:click="removeField(index)">
                                    <i class="voyager-trash"></i> <span class="hidden-xs hidden-sm">Delete</span>
                                </a>
                            </td>
                        </tr>
                    </draggable>
                </table>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="javascript:;" class="btn btn-success btn-add-new" id="add_field" v-on:click="showFieldPanel()">
                            <i class="voyager-plus"></i> <span>Add field</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" v-bind:id="'sec_' + sec_index + '_modal'" tabindex="-1" role="dialog" aria-labelledby="fieldModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add new field</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid" v-if="new_field">
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="field_type">Type</label>
                                    <select name="field_type"
                                            v-model="new_field.type"
                                            v-on:change="typeChanged()"
                                            id="field_type"
                                            class="form-control">
                                        <option v-for="fType in field_types" v-bind:value="fType.type">{{fType.title}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="field_label">Label</label>
                                    <input type="text"
                                           name="field_label"
                                           id="field_label"
                                           v-model="new_field.label"
                                           class="form-control">
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="field_notes">Notes</label>
                                    <input type="text" id="field_notes" class="form-control" v-model="new_field.notes">
                                </div>
                                <div class="col-xs-12">
                                    <p>Translations</p>
                                    <table class="table table-dark no-margin">
                                        <thead>
                                        <tr>
                                            <th scope="col">Locale</th>
                                            <th scope="col">Translatable</th>
                                            <th scope="col">Translation</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tr v-for="(translation, trIndex) in new_field.translations" :key="trIndex">
                                            <td>{{translation.locale}}</td>
                                            <td>{{translation.translatable}}</td>
                                            <td>{{translation.value}}</td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-danger" v-on:click="removeTranslation(trIndex)">
                                                    <i class="voyager-trash"></i> <span>Delete</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <select name="new_trans_locale"
                                                            v-model="new_trans.locale"
                                                            id="new_trans_locale"
                                                            class="form-control">
                                                        <option v-for="locale in locales" v-bind:value="locale.key">{{locale.value}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <select name="new_trans_trans"
                                                            v-model="new_trans.translatable"
                                                            id="new_trans_trans"
                                                            class="form-control">
                                                        <option v-for="trans in translatables" v-bind:value="trans.key">{{trans.value}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="text"
                                                           name="new_trans_val"
                                                           id="new_trans_val"
                                                           v-model="new_trans.value"
                                                           class="form-control">
                                                </div>
                                            </td>
                                            <td class="text-center font-size-30 text-success">
                                                <i class="voyager-plus" v-on:click="addTranslation"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-xs-12" v-if="can_add_options">
                                    <p>Options</p>
                                    <table class="table table-dark">
                                        <thead>
                                        <tr>
                                            <th scope="col">Key</th>
                                            <th scope="col">Label</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tr v-for="(option, index) in options" :key="index">
                                            <td>{{option.key}}</td>
                                            <td>{{option.label}}</td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-warning"  v-on:click="toggleOptionPanel(option, index)">
                                                    <i class="voyager-edit"></i> <span>Edit</span>
                                                </a>
                                                <a href="javascript:;" class="btn btn-danger" v-on:click="removeOption(index)">
                                                    <i class="voyager-trash"></i> <span>Delete</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    <a href="javascript:;" class="btn btn-primary btn-add-new"  v-on:click="toggleOptionPanel()">
                                        <i class="voyager-plus"></i> <span>Add</span>
                                    </a>
                                </div>
                                <div class="col-xs-12">
                                    <a class="btn btn-primary"
                                       data-toggle="collapse"
                                       href="#field_permissions"
                                       role="button"
                                       aria-expanded="false"
                                       aria-controls="field_permissions">Permissions</a>
                                    <div class="collapse" id="field_permissions">
                                        <ul class="list-group">
                                            <li class="list-group-item form-group">
                                                <input type="checkbox"
                                                       name="field_required"
                                                       id="field_required"
                                                       class="toggleswitch"
                                                       data-on="Required"
                                                       data-off="Required"
                                                       data-width="100">
                                            </li>
                                            <li class="list-group-item form-group">
                                                <input type="checkbox"
                                                       name="field_browse"
                                                       id="field_browse"
                                                       class="toggleswitch"
                                                       data-on="Browse"
                                                       data-off="Browse"
                                                       data-width="100">
                                            </li>
                                            <li class="list-group-item form-group">
                                                <input type="checkbox"
                                                       name="field_read"
                                                       id="field_read"
                                                       class="toggleswitch"
                                                       data-on="Read"
                                                       data-off="Read"
                                                       data-width="100">
                                            </li>
                                            <li class="list-group-item form-group">
                                                <input type="checkbox"
                                                       name="field_edit"
                                                       id="field_edit"
                                                       class="toggleswitch"
                                                       data-on="Edit"
                                                       data-off="Edit"
                                                       data-width="100">
                                            </li>
                                            <li class="list-group-item form-group">
                                                <input type="checkbox"
                                                       name="field_add"
                                                       id="field_add"
                                                       class="toggleswitch"
                                                       data-on="Add"
                                                       data-off="Add"
                                                       data-width="100">
                                            </li>
                                            <li class="list-group-item form-group">
                                                <input type="checkbox"
                                                       name="field_delete"
                                                       id="field_delete"
                                                       class="toggleswitch"
                                                       data-on="Delete"
                                                       data-off="Delete"
                                                       data-width="100">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12">
                                    <div v-if="canBeDefault()">
                                        <label for="field_default_title">Default title</label>
                                        <input type="checkbox"
                                               name="field_default_title"
                                               id="field_default_title"
                                               class="toggleswitch"
                                               data-on="Yes"
                                               data-off="No">
                                        <label for="field_default_body">Default body</label>
                                        <input type="checkbox"
                                               name="field_default_body"
                                               id="field_default_body"
                                               class="toggleswitch"
                                               data-on="Yes"
                                               data-off="No">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="editAddField()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="optionPanel" tabindex="-1" role="dialog" aria-labelledby="opTrPanel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="optionPanelTitle">Add option</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label for="op_key">Key</label>
                                    <input type="text"
                                           name="op_key"
                                           id="op_key"
                                           v-model="new_option.key"
                                           class="form-control">
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="op_label">Label</label>
                                    <input type="text"
                                           name="op_label"
                                           id="op_label"
                                           v-model="new_option.label"
                                           class="form-control">
                                </div>
                                <table class="table table-dark col-xs-12">
                                    <thead>
                                    <tr>
                                        <th scope="col">Locale</th>
                                        <th scope="col">Value</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(tr, trIndex) in new_option.translations" :key="trIndex">
                                        <td>{{tr.locale}}</td>
                                        <td>{{tr.value}}</td>
                                        <td>
                                            <a href="javascript:;" title="Delete" class="btn btn-sm btn-danger pull-left delete" v-on:click="removeOpTr(trIndex)">
                                                <i class="voyager-trash"></i> <span class="hidden-xs hidden-sm">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="form-group col-xs-6">
                                    <label for="op_tr_locale">Locale</label>
                                    <select name="op_tr_locale"
                                            v-model="new_option_tr.locale"
                                            id="op_tr_locale"
                                            class="form-control">
                                        <option v-for="locale in locales" v-bind:value="locale.key">{{locale.value}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="op_tr_val">Value</label>
                                    <input type="text"
                                           name="op_tr_val"
                                           id="op_tr_val"
                                           v-model="new_option_tr.value"
                                           class="form-control">
                                </div>
                                <div class="col-xs-12 text-center">
                                    <a href="javascript:;" class="btn btn-success btn-add-new" id="add_tr" v-on:click="editAddOpTrans()">
                                        <i class="voyager-plus"></i> <span>Add translation</span>
                                    </a>
                                </div>
                            </div> <!-- /row -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="editAddOption()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    const api_url = window.location.origin + '/';
    import draggable from 'vuedraggable'
    export default{
        name: 'fields',
        components: {
            'draggable': draggable
        },
        props: ['section','sec_index'],
        data(){
            return {
                field_types: [] = [
                    {
                        type: "checkbox",
                        title: 'checkbox'
                    },
                    {
                        type: "color",
                        title: 'Color'
                    },
                    {
                        type: "date",
                        title: 'Date'
                    },
                    {
                        type: "start_date",
                        title: 'Start date'
                    },
                    {
                        type: "end_date",
                        title: 'End date'
                    },
                    {
                        type: "file",
                        title: 'File'
                    },
                    {
                        type: "image",
                        title: 'Image'
                    },
                    {
                        type: "number",
                        title: 'Number'
                    },
                    {
                        type: "password",
                        title: 'Password'
                    },
                    {
                        type: "radio_btn",
                        title: 'Radio Button'
                    },
                    {
                        type: "rich_text_box",
                        title: 'Rich Text Box'
                    },
                    {
                        type: "code_editor",
                        title: 'Code Editor'
                    },
                    {
                        type: "markdown_editor",
                        title: 'Markdown Editor'
                    },
                    {
                        type: "select_dropdown",
                        title: 'Select Dropdown'
                    },
                    {
                        type: "text",
                        title: 'Text'
                    },
                    {
                        type: "text_area",
                        title: 'Text Area'
                    },
                    {
                        type: "timestamp",
                        title: 'Timestamp'
                    },
                    {
                        type: "hidden",
                        title: 'Hidden'
                    },
                    {
                        type: "coordinates",
                        title: 'Coordinates'
                    },
                ],
                new_field:{} = {
                    type: "text",
                    name: "",
                    label: "",
                    order: 1,
                    required: false,
                    browse: true,
                    read: true,
                    edit: true,
                    add: true,
                    delete: true,
                    notes: "",
                    default_title: false,
                    default_body: false,
                    translations:[],
                },
                locales: [] = [
                    {
                        key:"ar",
                        value: "Arabic",
                    },
                ],
                translatables: [] = [
                    {
                        key:"label",
                        value: "Label",
                    },
                    {
                        key:"notes",
                        value: "Notes",
                    },
                ],
                new_trans: {
                    locale: null,
                    translatable: null,
                    value: null,
                },
                options: [] = [],
                s_option_index: null,
                new_option_tr: {
                    locale: null,
                    value: null,
                },
                new_option: {
                    key: null,
                    label: null,
                    translations: []
                },
                can_add_options: false,
                editing_field: false,
                editing_index: null,
                draggable_options: {
                    handle:'.handle',
                    animation:150,
                    dragClass: 'item_dragging',
                    ghostClass:"item_drag_ghost"
                },
            }
        },
        mounted(){
            if(this.section){
                this.removeOptionalFields();
            }
        },
        methods:{
            removeOptionalFields(){
                for(let field of this.section.fields){
                    if(!field['options']){
                         delete field['options'];
                    }
                }
            },
            updateOrder($event = null){
                let new_index = null;
                if($event){
                    new_index = $event.newIndex;
                    this.section.fields[new_index].order = new_index +1;
                }
                this.section.fields.forEach((field,index,arr) => {
                    if(new_index === 0 || new_index){
                        if(index !== new_index){
                            field.order = index + 1;
                        }
                    }else{
                        field.order = index + 1;
                    }
                });
            },
            showFieldPanel(index){
                this.section.fields.forEach((item,f_index) => {
                    if(f_index === index){
                        this.editing_field = true;
                        this.editing_index = index;
                        let props = Object.keys(item);
                        for(let prop of props){
                            this.new_field[prop] = item[prop];
                        }
                        if(item.options && item.options.length){
                            this.can_add_options = true;
                            this.options = JSON.parse(item.options);
                            this.new_field.options = JSON.parse(item.options);
                        }
                        console.log(this.new_field);
                    }
                });
                // Toggle edit panel:
                $('#' + 'sec_' + this.sec_index + '_modal').modal('toggle');

                // Prepare toggle switch
                setTimeout(() => {
                    $('.toggleswitch').bootstrapToggle();
                },50);
                // Listen for checkboxes change:
                let fields_el = {
                    browse:   $('#field_browse'),
                    read: $('#field_read'),
                    edit : $('#field_edit'),
                    add: $('#field_add'),
                    delete : $('#field_delete'),
                    required: $('#field_required'),
                    default_body: $('#field_default_body'),
                    default_title: $('#field_default_title'),
                };
                let fields = Object.keys(fields_el);
                fields.forEach(item => {
                    fields_el[item].prop('checked', this.new_field[item]).change();
                    fields_el[item].change(() => {
                        this.new_field[item] = fields_el[item].prop('checked');
                    });
                });
            },
            editAddField(){
                let name = this.new_field.label.replace(" ", "_").toLowerCase();
                name = name.replace(',',"_");
                const field = {
                    type: this.new_field.type,
                    name: name,
                    label: this.new_field.label,
                    order: 1,
                    required: this.new_field.required,
                    browse: this.new_field.browse,
                    read: this.new_field.read,
                    edit: this.new_field.edit,
                    add: this.new_field.add,
                    delete: this.new_field.delete,
                    notes: this.new_field.notes,
                    default_title: this.new_field.default_title,
                    default_body: this.new_field.default_body,
                };
                if(this.options && this.options.length){
                    field.options = JSON.stringify(this.options);
                }
                if(this.new_field.translations && this.new_field.translations.length){
                    field.translations = this.new_field.translations;
                }
                if(this.editing_field){
                    this.section.fields.forEach((item,index,arr) => {
                        if(index === this.editing_index){
                            const props = Object.keys(field);
                            for(let prop of props){
                                if(field[prop] !== undefined){
                                    item[prop] = field[prop];
                                }
                            }
                        }
                    });
                    this.editing_field = false;
                    this.editing_index = null;
                }else{
                    this.section.fields.push(field);
                    this.updateOrder();
                }
                console.log('field:');
                console.log(field);
                $('#' + 'sec_' + this.sec_index + '_modal').modal('toggle');

            },
            addTranslation(){
                if(this.new_trans.translatable && this.new_trans.locale && this.new_trans.value){
                    this.new_field.translations = this.new_field.translations.filter(i => {
                        let unique = true;
                        if((i.locale === this.new_trans.locale && i.translatable === this.new_trans.translatable)){
                            unique = false;
                        }
                        return unique;
                    });
                    this.new_field.translations.push(this.new_trans);
                    this.new_trans = {
                        translatable: null,
                        locale: null,
                        value: null,
                    };
                }
            },
            removeTranslation(index){
                this.new_field.translations = this.new_field.translations.filter((item, i) => {
                    return i !== index;
                })
            },
            toggleOptionPanel(option, index){
                if(option){
                    this.new_option = JSON.parse(JSON.stringify(option));
                    this.s_option_index = index;

                } else {
                    this.new_option = {
                        translations: [],
                        key: null,
                        label: null
                    };
                    this.s_option_index = null;
                }
                $('#optionPanel').modal('toggle');
            },
            editAddOption(option = this.new_option){
                if(option && option.label && option.key){
                    this.editAddOpTrans();
                    if(this.s_option_index !== null) {
                        Vue.set(this.options, this.s_option_index, option);
                    }else{
                        this.options = this.options.filter((item, i) => {
                            return item.key !== option.key;
                        });
                        this.options.push(option);
                    }
                }
                $('#optionPanel').modal('toggle');
            },
            removeOption(index){
                this.options = this.options.filter((item, i) => {
                    return i !== index;
                });
            },
            editAddOpTrans(trans = this.new_option_tr){
                if(trans && trans.locale && trans.value) {
                    const tr = JSON.parse(JSON.stringify(trans));
                    this.new_option.translations.filter(item => {
                        return item.locale !== trans.locale;
                    });
                    this.new_option.translations.push(tr);
                    this.new_option_tr = {
                        locale: null,
                        value: null
                    };
                }
            },
            typeChanged(){
                if(this.new_field.type === 'select_dropdown'){
                    this.can_add_options = true;
                }else {
                    this.can_add_options = false;
                }
            },
            removeField(index){
                this.section.fields = this.section.fields.filter((field,f_index) => {
                    return f_index !== index;
                });
            },
            editAddOpTr(){},
            removeOpTr(trIndex){
                this.new_option.translations = this.new_option.translations.filter((item,index) => {
                    return index !== trIndex
                });
            },
            canBeDefault(){
              if(this.new_field.type === "text" || this.new_field.type === "text_area"){
                  setTimeout(() => {
                      $('.toggleswitch').bootstrapToggle();
                  }, 200);
                  return true;
              }else{
                  return false;
              }
            },

        },
    };
</script>