<template>
    <div class="col-md-12">
        <a href="javascript:;" class="btn btn-success btn-add-new" id="add_section" v-on:click="addSection()">
            <i class="voyager-plus"></i> <span>Add section</span>
        </a>
        <div class="row">
            <draggable v-model="sections" :options="draggable_options" @end="updateOrder($event)" class="col-md-12">
                <div class="row" v-for="(section, sec_index) in sections">
                    <div class="col-md-12 text-center">
                        <br>
                        <p>Section Details</p>
                    </div>
                    <div class="handle voyager-handle col-md-1"></div>
                    <div class="form-group col-md-11">
                        <label v-bind:for="'section_' + sec_index">Title</label>
                        <input type="text" name="section-title" v-bind:id="'section_' + sec_index" v-model="section.title" class="form-control">
                        <a href="javascript:;" title="Delete" class="btn btn-sm btn-danger pull-right delete" v-on:click="removeSection(sec_index)">
                            <i class="voyager-trash"></i> <span class="hidden-xs hidden-sm">Delete</span>
                        </a>
                    </div>
                    <fields v-bind:section="section" v-bind:sec_index="sec_index"></fields>
                </div>
            </draggable>
        </div>
    </div>
</template>
<script>
    import Fields from "./fields.vue";
    import draggable from 'vuedraggable'
    export default{
        name: 'sections',
        props: ['sections'],
        components: {
            'fields': Fields,
            'draggable': draggable,
        },
        data(){
            return {
                draggable_options: {
                    handle:'.handle',
                    animation:150,
                    dragClass: 'item_dragging',
                    ghostClass:"item_drag_ghost"
                }
            }
        },
        methods: {
            updateOrder($event = null){
                let new_index = null;
                if($event){
                    new_index = $event.newIndex;
                    this.sections[new_index].order = new_index +1;
                }
                this.sections.forEach((section,index,arr) => {
                    if(new_index === 0 || new_index){
                        if(index !== new_index){
                            section.order = index + 1;
                        }
                    }else{
                        section.order = index + 1;
                    }
                });
            },
            addSection(){
                let section = {
                    title: '',
                    order: 1,
                    fields: [],
                };
                this.sections.push(section);
                this.updateOrder()
            },
            emitUpdate(){
              this.$emit('onUpdate',this.sections);
            },
            removeSection(index){
                this.sections = this.sections.filter((item,sec_index) => {
                   return sec_index !== index;
                });
                this.emitUpdate();
            },
            updateSection(data){

            }
        }
    };
</script>