
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.item_dragging{
  background: $brand-primary;
  color: white;
}
.item_drag_ghost{
  opacity: 0;
}
ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.list-group-item {
  float: left;

}
#field_details{
  height:100px;
}
